<a href="https://colab.research.google.com/github/hajsf/Time-Series-Forecast/blob/main/02_MergeDataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import pickle

**Read the dataframe from the pickle file**

In [2]:
path = "data/"

In [4]:
with open(path + '2022Sales.pk', 'rb') as f:
  data2022 = pickle.load(f)
print("number of records:", len(data2022))

number of records: 900898

In [3]:
with open(path + '2021Sales.pk', 'rb') as f:
  data2021 = pickle.load(f)
print("number of records:", len(data2021))

number of records: 1894813

In [4]:
with open(path + '2020Sales.pk', 'rb') as f:
  data2020 = pickle.load(f)
print("number of records:", len(data2020))

number of records: 1762154

In [5]:
with open(path + '2019Sales.pk', 'rb') as f:
  data2019 = pickle.load(f)
print("number of records:", len(data2019))

number of records: 1478528

In [6]:
with open(path + '20161718Sales.pk', 'rb') as f:
  data20161718 = pickle.load(f)
print("number of records:", len(data20161718))

number of records: 1252038

In [7]:
frames = [data2021, data2020, data2019, data20161718]

In [8]:
data = pd.concat(frames) #, keys=['ITEM_ID', 'SLS_CNTR_ID', 'DATE1'])
print("number of records:", len(data))

number of records: 6387533

In [ ]:
#data[['SLS_CNTR_ID']] = data[['SLS_CNTR_ID']].astype(int, errors = 'raise')

In [9]:
data.dtypes

QTY        float64
TTL_VAL    float64
TTL_CST    float64
dtype: object

In [10]:
data.head()

                                QTY  TTL_VAL  TTL_CST
ITEM_ID SLS_CNTR_ID DATE1
0020    13          2021-01-03  1.0     35.0    26.25
                    2021-01-08  1.0     35.0    26.25
                    2021-01-12  1.0     35.0    26.25
                    2021-01-14  1.0     35.0    26.25
                    2021-01-17  1.0     35.0    26.25

**Save dataframe to pickle file**

In [11]:
with open(path + 'data.pk', 'wb') as f:
  pickle.dump(data, f)